.footer-socials {
    font-size: 4rem;
  }
  
  .footer-icon {
    color: #ffff00;
    float: left;
  }
  
  .footer-icon:hover {
    color: #ced65e;
  }

  footer {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 0 20px;
    color: #a2b5cd;
    justify-content: center;
  }

  footer.top p {
    margin-right: 40px;
  }
  footer.top {
    border-bottom: 2px solid #3a4f6a;
    padding-bottom: 20px;
  }

  footer.top .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

footer.bottom {
  padding: 20px 0;
  justify-content: center;
}

footer.links > div {
  display: grid;
  gap: 10px;
  margin-bottom: 10px;
}

 footer.top .links a {
  text-decoration: none;
  color: #a2b5cd;
 }

 footer.top .links a:hover {
  text-decoration: none;
  color: #fff;
 }

footer h2 {
  margin: 0;
  margin-bottom: .5rem;
  font-size: 16px;
  font-weight: 400;
  color: #f7f7f7;
}

footer .legal {
  font-size: 12px;
}
footer .legal > a {
  margin: 0 4px;
}

footer .legal > span {
  margin-right: 10px;
}

  footer.bottom .links {
    display: flex;
    gap: 18px;
  }

  @media(width < 620px) {
    footer {
      flex-direction: column;
    }

    footer.bottom {
      gap: 16px;
      flex-direction: column-reverse;
    }
  }
footer.bottom .links > a {
  font-size: 24px;
}
 