html {
  --s: 100px;
  --g: #273646 90deg, #0000 90.5deg;
  background:
    conic-gradient(from -45deg, var(--g)),
    conic-gradient(from 135deg, var(--g))
      calc(var(--s)/2) 20px, #1b252f;
  background-size: var(--s) var(--s);
}

