html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #020f1b; /* scrollbar color*/
  background-image: radial-gradient(circle at 70% 70%, #20588f 5%, #0e1c30 100%);
  background-size: cover;
}

